<!DOCTYPE html>
<html>

<head>
    <title>Neo4j Operations</title>
</head>

<body>
    <h1>Add User</h1>
    <form action="/add_user" method="POST">
        ID: <input type="text" name="id"><br>
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        Date of Birth: <input type="date" name="dob"><br>
        Active: <input type="checkbox" name="active"><br>
        Account Type: <input type="text" name="account_type"><br>
        <input type="submit" value="Submit">
    </form>

    <!-- Other forms go here -->

    <h1>Create View Relation</h1>
    <form action="/create_view_relation" method="POST">
        User ID: <input type="text" name="user_id"><br>
        Content ID: <input type="text" name="content_id"><br>
        Date: <input type="date" name="date"><br>
        Rating: <input type="number" min="1" max="5" name="rating"><br>
        Review: <input type="text" name="review"><br>
        Watchlist: <input type="checkbox" name="watchlist"><br>
        <input type="submit" value="Submit">
    </form>

    <!-- And so on for each of your routes... -->

</body>

</html>